<footer class="page-footer">
  <div class="row">

    <div class="col s4 l3 center" id="social-networks">
      <a href="https://www.facebook.com/daisy.villarrubia.3">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="">
        <i class="fab fa-instagram"></i>
      </a>
    </div>


    <div class="col s4 l6 center" id="contact">
      <span>Contactanos:</span>
      <p>
        787-377-3636
        <br> lollypop@hotmail.com
      </p>
    </div>

    <div class="col s4 l3 center" id="copyright">
        <i class="far fa-copyright"> {{ year }} </i>
        <span> Christian Santiago</span>
    </div>

  </div>
</footer>
