<div class="row">

  <div class="col s3 l3" id="vertical-left-column">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi iusto nisi molestiae dolore soluta vel nostrum quod
    vero, dolor molestias ab quos! Numquam, non recusandae sapiente maiores repellat eligendi.
    <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis accusamus, totam fugit architecto itaque, praesentium
    illo porro libero iure voluptates inventore consectetur ipsa molestias, asperiores exercitationem. Nemo eius magni ipsam.
    <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dicta, iure omnis labore cumque aut alias, ducimus
    quidem vitae veritatis necessitatibus quas nam enim dolorum consequatur, eum neque perspiciatis soluta.

  </div>

  <div class="col s9 l8" id="main">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint aperiam nobis soluta id perspiciatis corrupti doloribus
      molestiae architecto, reiciendis et quisquam beatae deleniti vero magnam veniam ipsum in repudiandae enim!</p>


    <!-- Menu Cards -->
    <div id="menu-cards">
      <table>
        <thead>
          <h2><i class="fas fa-stream"></i> Menu</h2>
        </thead>

        <!-- First Row -->
        <tr>
          <td>
              <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/carne-frita-malanga.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Carne Frita con Malanga Frita
                      <i class="material-icons right">more_vert</i>
                    </span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Titulo
                      <i class="material-icons right">close</i>
                    </span>
                    <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                      magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                  </div>
                </div>
          </td>
          <td>
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/chicharrones-malanga.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Chicharrones de pollo con Malanga frita
                      <i class="material-icons right">more_vert</i>
                    </span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Titulo
                      <i class="material-icons right">close</i>
                    </span>
                    <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                      magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                  </div>
                </div>
          </td>
          <td>
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/churrasco-tostones.jpg">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Churrasco con Tostones
                      <i class="material-icons right">more_vert</i>
                    </span>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Titulo
                      <i class="material-icons right">close</i>
                    </span>
                    <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                      magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                  </div>
                </div>
          </td>
        </tr>

        <!-- Second Row -->
        <tr>
            <td>
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="../../assets/papas-supreme-longaniza.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Papas Supreme de Longaniza
                        <i class="material-icons right">more_vert</i>
                      </span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Titulo
                        <i class="material-icons right">close</i>
                      </span>
                      <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                        magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="../../assets/sandwhich-longaniza-supreme.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Sandwhich de Longaniza con Papas Supreme
                        <i class="material-icons right">more_vert</i>
                      </span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Titulo
                        <i class="material-icons right">close</i>
                      </span>
                      <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                        magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                    </div>
                  </div>
            </td>
            <td>
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="../../assets/chicharrones-mofong-malanga.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Chicharrones con Monfongo de Malanga
                        <i class="material-icons right">more_vert</i>
                      </span>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Titulo
                        <i class="material-icons right">close</i>
                      </span>
                      <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                        magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                    </div>
                  </div>
            </td>
          </tr>

          <!-- Third Row -->
          <tr>
              <td>
                  <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../assets/cuajo-a-lena.jpg">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cuajo a Lena
                          <i class="material-icons right">more_vert</i>
                        </span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Titulo
                          <i class="material-icons right">close</i>
                        </span>
                        <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                          magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                      </div>
                    </div>
              </td>
              <td>
                  <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../assets/insert-image-here.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Titulo
                          <i class="material-icons right">more_vert</i>
                        </span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Titulo
                          <i class="material-icons right">close</i>
                        </span>
                        <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                          magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                      </div>
                    </div>
              </td>
              <td>
                  <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../assets/insert-image-here.png">
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Titulo
                          <i class="material-icons right">more_vert</i>
                        </span>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Titulo
                          <i class="material-icons right">close</i>
                        </span>
                        <p id="description">Descripcion de Comida (Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse velit labore autem nam doloribus
                          magnam unde sequi. Est esse iste necessitatibus, porro deserunt quos alias earum aliquam nihil itaque molestiae?)</p>
                      </div>
                    </div>
              </td>
            </tr>
      </table>

    </div>

  </div>

</div>
